/*
Author: Xiao Lin;
Theme: Car Rental;
Version: 1.0;
*/

*{
    margin: 0 0;
    padding: 0 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.clearfix{
    clear: both;
    float: none;
}

.container{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.img-responsive{
    width: 100%;
}

a{
    color: #7f5539;
    text-decoration: none;
}

a:hover{
    color: #b08968;
}

.button{
    padding: 1%;
    font-size: 1rem;
    border-radius: 6px;
}

.button-primary{
    background-color: #7f5539;
    color: #f1faee;
    cursor: pointer;
}

.button-primary:hover{
    background-color: #b08968;
    color: #ede0d4;
}

.button-secondary{
    background-color: #e6ccb2;
    color: #7f5539;
    cursor: pointer;
}

.button-secondary:hover{
    background-color: #ede0d4;
    color: #7f5539;
}

h2{
    color: #7f5539;
    font-size: 1.5rem;
}

.float-container{
    position: relative;
}

.float-text{
    position: absolute;
    bottom: 10px;
    left: 33%;
    color: #f1faee;
}

.table-full{
    width: 100%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
}

table tr td{
    text-align: center;
    padding: 1%;
}

.table-40{
    width: 40%;
}

/* CSS for Navigation Bar */
.nav_bar{
    background-color: #ffffff;
}
.nav_logo{
    width: 12%;   
    float: left;
}

.nav_menu{
    line-height: 60px;
}

.nav_menu ul{
    list-style-type: none;
}

.nav_menu ul li{
    display: inline;
    padding: 1.5%;
    font-weight: bold;
}

/* CSS for Search Bar*/

.veh_search{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

.veh_search input[type="search"]{
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border-radius: 5px;
}

/* CSS for Vehicles */
.veh_menu{
    background-color: #ede0d4;
    padding: 2% 0;
}

.veh_box{
    width: 45%;
    margin: 1%;
    float: left;
    padding: 1%;
    left: 15px;
    border-radius: 15px;
}

.veh_menu-img{
    float: left;
}

.veh_menu-desc{
    width: 70%;
    float: left;
    margin-left: 38%;
}

.veh_price{
    font-size: 1rem;
    margin: 1% 0;
}

.vehicle-detail{
    font-size: 0.7rem;
    color: #6b705c;
}

/* CSS for Locations */
.loc_menu{
    padding: 1% 0;
}

.loc_box{
    width: 30%;
    float: left;
    margin: 1%;
    left: 10px;
}

/* CSS for Social */
.soc_menu ul{
    list-style-type: none;
}

.soc_menu ul li {
    display: inline;
    padding: 0.5%;
}

/* CSS for Footer */
.footer{
    background-color: #ede0d4;
}